.button-opacity {
    opacity: .4;
    transition: .5s;
}

.button-opacity:hover {
    opacity: 1;
}

.calendar {
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.calendar.open{
    animation: .5s rideCalendar forwards linear;
}

@media all and (max-width: 575px){
    .calendar {
        transform: translateY(-50%);
        top: 50%;
        right: 10px;
    }
}

@keyframes rideCalendar {
    0% {
        right: -500px;
    }
    100% {
        right: 10px;
    }
}